/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Navbar */
header nav {
  background-color: #333;
}

#nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.7rem;
  padding: 0 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

#nav-bar a {
  color: #f5f5f7;
  font-weight: bold;
  transition: 0.4s;
}

#nav-bar a:hover {
  color: #ccc;
}
